<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="byName">

    <bean id="userTask" class="org.itstack.demo.application.task.UserTask"/>

    <bean id="userTaskHandler"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="userTask"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="true"/>
    </bean>

    <bean id="userTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="userTaskHandler"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="userTaskScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
          autowire="no">
        <property name="triggers">
            <list>
                <ref local="userTaskTrigger"/>
            </list>
        </property>
        <property name="autoStartup" value="true"/>
    </bean>

</beans>